*,*::before,*::after{

    box-sizing: border-box;
}

*{
    margin:0;
    padding: 0;
}

.ingredients{
    font-size: 20px;
    color: rgb(95, 187, 102);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    font-size: 23px;
    color: rgb(95, 187, 102);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

a {
    
    color: darkblue;
    }
    
a:visited {
    
    color: rgb(129, 226, 255);
}

.first_div{
    padding: 20px;
    background-color: rgb(25, 88, 143);
    margin: 20px;
}

h1 { 

   font-family: 'Times New Roman', Times, serif;
   color: rgb(129, 226, 255); 
   border: 10px;
   border-style: ridge;
   background-color: rgb(28, 95, 95);
   padding: 20px 20px;
   margin: 20px 40px;
   text-align: center;
}

img{

    display: block;
    margin :auto;
    border: 10px;
    border-style: ridge;
    
}

.img_div{
    padding: 20px;
    background-color: rgb(25, 88, 143);
    margin: 20px ;
}




h2 {

    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(129, 226, 255); 
    background-color: rgb(28, 95, 95);
    padding: 20px 30px;    
}

.link_div{
    padding: 20px;
    background-color: rgb(25, 88, 143);
    margin: 20px ;
    text-align: center;
}
.links{

    display: inline-block;
    text-align: left;
    color: azure;
    font-size: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.steps{
   

    font-size: 20px;
    color: rgb(95, 187, 102);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    

}